// logo parts //
.headerImg{	
	.st0{fill:#7F8EFF;}
	.st1{fill:#E583D0;}
	.st2{fill:#E97B00;}
	.st3{fill:#4F4F4F;}
	.st4{fill:#ED96D7;}
	.st5{fill:#54FFCD;}
	.st6{fill:#BFBFBF;}
	.st7{fill:#F789D5;}
	.st8{fill:#FCC3EA;}
	.st9{fill:none;stroke:#000000;stroke-miterlimit:10;}
	.st10{fill:#FFC96A;}
	.st11{fill:#FFCFEE;}
	.st12{fill:none;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;}
	.st13{fill:none;}
	.st14{fill:#6AF8FF;}
	.st15{fill:#3F7FEF;}
	.st16{fill:#A5A5A5;}
	.st17{fill:none;stroke:#000000;stroke-width:0.25;stroke-miterlimit:10;}
	.internet{fill:#54FFCD;}
	.internet2{fill:#F789D5;}
	.day{fill:#7F8EFF;}
	.bracket{fill:#BFBFBF;}

	// logo on hover //
	&:hover{
		.st11, .st15 {
			animation: rainbow 2s step-end infinite;
			-webkit-animation: rainbow 2s step-end infinite;
		}

		.st4, .st1 {
			animation: rainbow2 2s step-end infinite;
			-webkit-animation: rainbow2 2s step-end infinite;
		}

		.st2 {
			animation: rainbow3 2s step-end infinite;
			-webkit-animation: rainbow3 2s step-end infinite;	
		}

		.st0 {
			animation: rainbow4 2s step-start infinite;
			-webkit-animation: rainbow4 2s step-start infinite;		
		}

		.st14 {
			animation: rainbow5 2s step-end infinite;
			-webkit-animation: rainbow5 2s step-end infinite;		
		}

		.st10 {
			animation: rainbow6 2s step-end infinite;
			-webkit-animation: rainbow6 2s step-end infinite;
		}

		.st5 {
			animation: rainbow7 2s step-end infinite;
			-webkit-animation: rainbow7 2s step-end infinite;			
		}

		.day1{
			animation: shake 3s linear infinite;
			-webkit-animation: shake 3s linear infinite;
		}
		.day2{
			animation: shake2 3s linear infinite;
			-webkit-animation: shake2 3s linear infinite;
		}

		.day3{
			animation: shake3 3s linear infinite;
			-webkit-animation: shake3 3s linear infinite;
		}

		.day4{
			animation: shake4 3s linear infinite;
			-webkit-animation: shake4 3s linear infinite;
		}
	}
}


// animate 100 // 
@keyframes rainbow {
	0%   { fill: #54FFCD;}
	25%  { fill: #F789D5;}
	50%  { fill: lemonchiffon;}
	75%  { fill: #FFCFEE;}
	100%  { fill: #7F8EFF;}
}

@-webkit-keyframes rainbow {
	0%   { fill: #54FFCD;}
	25%  { fill: #F789D5;}
	50%  { fill: lemonchiffon;}
	75%  { fill: #FFCFEE;}
	100%  { fill: #7F8EFF;}
}

@keyframes rainbow2 {
	0%   { fill: #E97B00;}
	25%  { fill: purple;}
	50%  { fill: slateblue;}
	75%  { fill: #FFC96A;}
	100%  { fill: #E583D0;}
}

@keyframes shake {
  0%, 100% {
    transform: translate3d(0, 0, 0);
    transform: rotate(0);
  } 

  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(0, -.5px, 0);
    transform: rotate(-.2deg);
  }

  20%, 40%, 60%, 80% {
    transform: translate3d(0, .5px, 0);
     transform: rotate(.2deg);
  }
}

@-webkit-keyframes shake {
  0%, 100% {
    transform: translate3d(0, 0, 0);
    transform: rotate(0);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(0, -.5px, 0);
    transform: rotate(-.2deg);
  }

  20%, 40%, 60%, 80% {
    transform: translate3d(0, .5px, 0);
    transform: rotate(.2deg);
  }
}

@keyframes shake2 {
  0%, 100% {
    transform: translate3d(0, 0, 0);
    transform: rotate(0);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(0, .4px, 0);
    transform: rotate(.1deg);
  }

  20%, 40%, 60%, 80% {
    transform: translate3d(0, -.4px, 0);
     transform: rotate(-.1deg);
  }
}

@-webkit-keyframes shake2 {
  0%, 100% {
    transform: translate3d(0, 0, 0);
      transform: rotate(0);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(0, .4px, 0);
     transform: rotate(.1deg);
  }

  20%, 40%, 60%, 80% {
    transform: translate3d(0, -.4px, 0);
     transform: rotate(-.1deg);
  }
}

@keyframes shake3 {
  0%, 100% {
    transform: translate3d(0, 0, 0);
    transform: rotate(0);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(0, .5px, 0);
    transform: rotate(.2deg);
  }

  20%, 40%, 60%, 80% {
    transform: translate3d(0, -.5px, 0);
    transform: rotate(-.2deg);
  }
}

@-webkit-keyframes shake3 {
  0%, 100% {
    transform: translate3d(0, 0, 0);
    transform: rotate(0);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(0, .5px, 0);
    transform: rotate(.2deg);
  }

  20%, 40%, 60%, 80% {
    transform: translate3d(0, -.5px, 0);
    transform: rotate(-.2deg);
  }
}

@keyframes shake4 {
  0%, 100% {
    transform: translate3d(0, 0, 0);
    transform: rotate(0);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(0, .2px, 0);
    transform: rotate(.15deg);
  }

  20%, 40%, 60%, 80% {
    transform: translate3d(0, -.2px, 0);
    transform: rotate(-.15deg);
  }
}

@-webkit-keyframes shake4 {
  0%, 100% {
    transform: translate3d(0, 0, 0);
    transform: rotate(0);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(0, .2px, 0);
    transform: rotate(.15deg);
  }

  20%, 40%, 60%, 80% {
    transform: translate3d(0, -.2px, 0);
    transform: rotate(-.15deg);
  }
}

.enter{
	animation: enter 1s linear;
	animation-fill-mode: forwards;
	-webkit-animation: enter 1s linear;
	-webkit-animation-fill-mode: forwards;
}

@keyframes enter{
	 0%{ 
	   top: -100%;
	   left: 100%;
	 }
	 50%{
	   top: -50%;
	   left:50%;
	 }
	 100%{
	   top: 0;
	   left: 0;
	 }
}

@-webkit-keyframes enter{
	 0%{ 
	   top: -100%;
	   left: 100%;
	 }
	 50%{
	   top: -50%;
	   left:50%;
	 }
	 100%{
	   top: 0;
	   left: 0;
	 }
}

@-webkit-keyframes rainbow2 {
	0%   { fill: #E97B00;}
	25%  { fill: purple;}
	50%  { fill: slateblue;}
	75%  { fill: #FFC96A;}
	100%  { fill: #E583D0;}
}

@keyframes rainbow3 {
	0%   { fill: #3F7FEF;}
	25%  { fill: #54FFCD;}
	50%  { fill: #E583D0;}
	75%  { fill: papayawhip;}
	100%  { fill: #7F8EFF;}
}

@-webkit-keyframes rainbow3 {
	0%   { fill: #3F7FEF;}
	25%  { fill: #54FFCD;}
	50%  { fill: #E583D0;}
	75%  { fill: papayawhip;}
	100%  { fill: #7F8EFF;}
}

@keyframes rainbow4 {
	0%   { fill: #E97B00;}
	25%  { fill: #FFCFEE;}
	50%  { fill: hotpink;}
	75%  { fill: cyan;}
	100%  { fill: #54FFCD;}
}

@-webkit-keyframes rainbow4 {
	0%   { fill: #E97B00;}
	25%  { fill: #FFCFEE;}
	50%  { fill: hotpink;}
	75%  { fill: cyan;}
	100%  { fill: #54FFCD;}
}

@keyframes rainbow5 {
	0%   { fill: mediumorchid;}
	25%  { fill: coral;}
	50%  { fill: #3F7FEF;}
	75%  { fill: mistyrose;}
	100%  { fill: limegreen;}
}

@-webkit-keyframes rainbow5 {
	0%   { fill: mediumorchid;}
	25%  { fill: coral;}
	50%  { fill: #3F7FEF;}
	75%  { fill: mistyrose;}
	100%  { fill: limegreen;}
}

@keyframes rainbow6 {
	0%   { fill: lemonchiffon;}
	25%  { fill: cyan;}
	50%  { fill: orange;}
	75%  { fill: #3F7FEF;}
	100%  { fill: #FFC96A;}
}

@-webkit-keyframes rainbow6 {
	0%   { fill: lemonchiffon;}
	25%  { fill: cyan;}
	50%  { fill: orange;}
	75%  { fill: #3F7FEF;}
	100%  { fill: #FFC96A;}
}

@keyframes rainbow7 {
	0%   { fill: #FFC96A;}
	25%  { fill: mediumorchid;}
	50%  { fill: #54FFCD;}
	75%  { fill: #E97B00;}
	100%  { fill: hotpink;}
}

@-webkit-keyframes rainbow7 {
	0%   { fill: #FFC96A;}
	25%  { fill: mediumorchid;}
	50%  { fill: #54FFCD;}
	75%  { fill: #E97B00;}
	100%  { fill: hotpink;}
}

